.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: auto;
}

.logo {
  font-size: 48px;
  font-weight: 999;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 10px 200px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  list-style: none;
  padding: 0pt;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

a {
  font-size: 22px;
  font-weight: bolder;
  background: white;
  padding: 8px;
  
  /* this removes the line under the links */
  text-decoration: none;
}